.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(185, 185, 185);
    border-radius: 5px;
    padding: 20px;

}

.link:global(.active) {
    color: rgb(62, 173, 72);
}